@using WinningCards.Models

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Winning cards App</title>
</head>
    <body>
        <div>
            <h4>Wleocme to the winning cards App</h4>
        </div>
        <div>
            Server Name: <b>@WinningCards.Models.Config.AppMachineName</b>
        </div>
        <div>
            App Version: <b>@WinningCards.Models.Config.AppVersion</b>
        </div>
        <div>
            App Environment: <b>@WinningCards.Models.Config.AppEnvironment</b>
        </div>
        <div>
            Connected to db Server: <b> @WinningCards.Models.Config.DbServer</b> - Db: <b>@WinningCards.Models.Config.DbName</b>
        </div>
    </body>
</html>
